html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  cursor: pointer;
  background:url('folder/image.gif') repeat-y 100% 100% fixed;
}
.jumbotron{
 background-color: rgba(255, 255, 255, 0.7);
}
